<footer class="apple-main-footer">

    <div class="footer-grid ">
        <div class="footer-col">
            <section>
                <h4>Scopri e acquista</h4>
                <ul>
                    <li><a href="">Store</a></li>
                    <li><a href="">Mac</a></li>
                    <li><a href="">iPad</a></li>
                    <li><a href="">iPhone</a></li>
                    <li><a href="">Watch</a></li>
                    <li><a href="">AirPods</a></li>
                    <li><a href="">TV & Casa</a></li>
                    <li><a href="">AirTag</a></li>
                    <li><a href="">Accessori</a></li>
                    <li><a href="">Carte regalo</a></li>
                </ul>
            </section>


            <section>
                <h4>Apple Wallet</h4>
                <ul>
                    <li><a href="">Apple Pay</a></li>
                </ul>
            </section>
        </div>

        <div class="footer-col">
            <section>
                <h4>Account</h4>
                <ul>
                    <li><a href="">Gestisci il tuo Apple Account</a></li>
                    <li><a href="">Account Apple Store</a></li>
                    <li><a href="">iCloud.com</a></li>
                </ul>
            </section>


            <section>
                <h4>Intrattenimento</h4>
                <ul>
                    <li><a href="">Apple One</a></li>
                    <li><a href="">Apple TV</a></li>
                    <li><a href="">Apple Music</a></li>
                    <li><a href="">Apple Arcade</a></li>
                    <li><a href="">Apple Fitness+</a></li>
                    <li><a href="">Apple Podcasts</a></li>
                    <li><a href="">Apple Books</a></li>
                    <li><a href="">App Store</a></li>
                </ul>
            </section>

        </div>

        <div class="footer-col">
            <section>
                <h4>Apple Store</h4>
                <ul>
                    <li><a href="">Trova uno Store</a></li>
                    <li><a href="">Genius Bar</a></li>
                    <li><a href="">Today at Apple</a></li>
                    <li><a href="">Prenotazioni di gruppo</a></li>
                    <li><a href="">Campo Estivo Apple</a></li>
                    <li><a href="">L'app Apple Store</a></li>
                    <li><a href="">Ricondizionati certificati</a></li>
                    <li><a href="">Apple rade In</a></li>
                    <li><a href="">Finanziamenti</a></li>
                    <li><a href="">Stato dell'ordine</a></li>
                    <li><a href="">Assistenza agli acquisti</a></li>
                </ul>
            </section>

        </div>

        <div class="footer-col">
            <section>
                <h4>Business</h4>
                <ul>
                    <li><a href="">Apple per il business</a></li>
                    <li><a href="">Acquisti per le aziende</a></li>
                </ul>
            </section>

            <section>
                <h4>Istruzione</h4>
                <ul>
                    <li><a href="">Apple nell'istruzione</a></li>
                    <li><a href="">Acquisti per l'univesità</a></li>
                </ul>
            </section>

            <section>
                <h4>Per la salute</h4>
                <ul>
                    <li><a href="">Apple e la salute</a></li>
                </ul>
            </section>

        </div>

        <div class="footer-col">
            <section>
                <h4>I valori di Apple</h4>
                <ul>
                    <li><a href="">Accessibilità</a></li>
                    <li><a href="">Istruzione</a></li>
                    <li><a href="">Ambiente</a></li>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Innovazioni nella filiera</a></li>
                </ul>
            </section>

            <section>
                <h4>Info su Apple</h4>
                <ul>
                    <li><a href="">Newsroom</a></li>
                    <li><a href="">Leadership Apple</a></li>
                    <li><a href="">Opportunità di lavoro</a></li>
                    <li><a href="">Garanzia</a></li>
                    <li><a href="">Investitori</a></li>
                    <li><a href="">Etica e rispetto delle norme</a></li>
                    <li><a href="">Eventi</a></li>
                    <li><a href="">Posti di lavori in Europa</a></li>
                    <li><a href="">Contatti</a></li>
                </ul>
            </section>
        </div>

    </div>

    <div class="text-final">
        <p>Altri modi per acquistare: </p>
        <a href="">trova l'apple store</a>
        <p>o</p>
        <a href="">il rivenditore</a>
        <p>più vicino. O chiama il numero</p>
        <a href="">800 554 533</a>

    </div>

    <hr class="notes-divider">

    <div class="footer-notes">
        <div>
            <p>Copyright © 2025 Apple Inc. Tutti i diritti riservati.</p>
        </div>

        <div>
            <a href="">Norme sulla privacy</a>
            <a href="">Utilizzo dei cookie</a>
            <a href="">Condizioni d'uso</a>
            <a href="">Vendite e rimborsi</a>
            <a href="">Note legali</a>
            <a href="">Mappa del sito</a>
        </div>

    </div>
</footer>