.apple-main-footer {
    background-color: #f5f5f7;
    padding-bottom: 20px;
}

.footer-grid {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 22px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); // 5 colonne su desktop
    gap: 20px;
}

.footer-col {
    section {
        margin-bottom: 24px; // Spazio tra una categoria e l'altra nella stessa colonna
    }
}

a {
    text-decoration: none;
    color: #6e6e73;
    font-size: 12px;
}

h4 {
    color: black;
    font-size: 12px;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        margin-top: 10px;
    }
}

.text-final {
    display: flex;
    justify-content: start;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 22px;
    align-items: center;
    color: #6e6e73;
    font-size: 12px;

    a {
        text-decoration: underline;
        color: rgb(81, 81, 231);
        padding: 5px;
    }
}

.notes-divider {
    border: 0;
    border-top: 1px solid #d2d2d7;
    margin: 10px auto;
    max-width: 1024px;
}


.footer-notes {

    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 22px;
    color: #6e6e73;
    font-size: 12px;

    a::after {
        content: "  |  ";
        text-decoration: none;
    }
}