.apple-main-footer {
    background-color: #f5f5f7;
    padding-bottom: 20px;
}

.show-on-desktop {
    display: none !important;
}

.footer-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 22px;
    font-size: 12px !important;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;

    li {
        margin-bottom: 8px;

        a {
            color: #424245;
            text-decoration: none;


            &:hover {
                text-decoration: underline;
            }
        }
    }
}

//Desktop-form Grid Style
.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;


    h4 {
        color: #1d1d1f;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    section {
        margin-bottom: 24px;
    }
}

// Accordion Mobile Style
//View Encapsulation scss di un componente rimane "chiuso" dentro quel 
//componente e non influenza il resto del sito.
//::ng-deep agisce come un trapano che rompe questa protezione.

::ng-deep .footer-accordion {
    background: transparent;

    .mat-expansion-panel {
        background: transparent !important;
        border-bottom: 1px solid #d2d2d7;
        border-radius: 0 !important;
        box-shadow: none !important;

        .mat-expansion-panel-header-title {
            font-size: 12px;
        }

        .mat-expansion-panel-header {
            padding: 0;
            padding-bottom: 5px;
            height: 30px;
            align-items: end;

            &:focus {
                background: transparent !important;
            }

            .mat-panel-title {
                font-size: 12px !important;
                color: #1d1d1f;
            }
        }

        .mat-expansion-panel-content {
            padding-bottom: 16px;
        }
    }
}

.text-final {
    font-size: 12px;
    color: #6e6e73;
    margin: 20px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #d2d2d7;

    a {
        color: #0066cc;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.notes-divider {
    border: 0;
    border-top: 1px solid #d2d2d7;
    margin: 0;
}


.footer-notes {
    font-size: 12px;
    color: #6e6e73;
    justify-content: space-between;
    padding: 20px 0;

    .legal-links {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
    }

    a {

        border-right: 1px solid #a8a8a8;
        color: #424245;
        text-decoration: none;
        padding: 0 10px 0 10px !important;

        &:hover {
            text-decoration: underline;
        }
    }
}

// MEDIA QUERIES
@media (min-width: 1024px) {
    .show-on-desktop {
        display: grid !important;
    }

    .show-on-mobile {
        display: none !important;
    }

    .footer-notes {
        flex-direction: column;
        display: flex;

        .legal-links {
            margin-top: 10px;

            a {
                padding: 0px 10px 0px 0px;
            }
        }
    }
}