// Importazione stili base di Swiper e moduli necessari
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

.swiper {
  width: 85%;
  padding-top: 20px;
  padding-bottom: 40px;
}

.swiper-pagination {
  bottom: 20px !important;
}

.swiper-pagination-bullet {
  background: #555555 !important;
  opacity: 0.6 !important;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background: #000000 !important;
  opacity: 1 !important;
}

.slide-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.img-mobile {
  display: inline;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-desk {
  display: none;

}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;

  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      transparent 100%);

  z-index: 0;
  pointer-events: none;
}

.text-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  color: white;

  .p-bold {
    font-weight: bold;
    margin: 10px;
    text-align: center;
  }


  p {
    font-size: 15px;
    margin: 0px;

  }

  .but-white {
    align-self: center;
    width: 130px;
    background-color: whitesmoke;
    font-size: 14px;
    color: black;
    border-radius: 30px;
    margin: 0;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    text-align: center;
    align-items: center;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #555555 !important;
  font-size: 30px !important;
}

@media (min-width: 768px) {
  .swiper {
    height: 300px;
  }

  .img-desk {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-mobile {
    display: none;
  }

  .text-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    text-align: left;

    .p-bold {
      font-weight: bold;
    }

    p {
      padding-left: 10px;
      font-size: 18px;
      align-self: center;

    }

    .but-white {
      background-color: whitesmoke;
      font-size: 16px;
      color: black;
      border-radius: 30px;
      margin: 0;
      text-decoration: none;
      padding: 0px 30px 0px 30px;
      display: inline-flex;
      align-items: center;

      &:hover {
        background-color: white;
      }
    }
  }
}

@media (min-width: 1024px) {

  .swiper {
    padding-top: 20px;
    padding-bottom: 40px;
    height: 500px;
  }


  .img-desk {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


}

@media (min-width: 1440px) {
  .swiper {
    width: 70%;
  }

}

@media (min-width: 2500px) {
  .swiper {
    width: 60%;
    height: 700px;
  }
}