.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.container-prod {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 30px;
}

.cont-card {
  width: 60px;
  height: 80%;
}

.text-pre-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  padding: 10px 0px 50px 10px;
  width: 100%;
}

.gradient-text {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 0px;
  color: black;
}

.a-end {
  text-align: end;
  color: #0066cc;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

mat-card-header {

  display: inline;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }

  mat-card-title {
    margin-bottom: 0px;
    font-size: 14px;
  }
}

mat-card {
  box-shadow: none !important;
}

@media (min-width: 768px) {

  .text-pre-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: end;
    padding: 50px;
    align-items: center;
    width: 100%;
  }
}