<div class="container">
  <div class="text-pre-card">
    <div>
      <h1 class="gradient-text">Store</h1>
    </div>
    <div>
      <h3>
        Quest'anno fai un <br />
        regalo speciale.
      </h3>
      <div>
        <a class="a-end" href="">Parla con il team di Specialist ↗</a>
        <br />
        <a class="a-end" href="">Trova un Apple Store ↗</a>
      </div>
    </div>
  </div>
</div>

<div class="container-prod">

  <mat-card class="cont-card" *ngFor="let c of cards" routerLink="/store">
    <img mat-card-image [src]="c.img" alt="Shiba Inu">
    <mat-card-header>

      <a href=""><mat-card-title>{{ c.title }}</mat-card-title></a>
    </mat-card-header>
  </mat-card>

</div>