.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.text-pre-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 50px;
  align-items: center;
  width: 100%;
}

.gradient-text {
  /* Font simile a quello Apple/Google */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -2px;

  /* Creazione della sfumatura */
  background: linear-gradient(
    to right,
    #4a8df3 0%,
    #4a8df3 30%,
    #a2717a 50%,
    #f07e4d 70%,
    #f07e4d 100%
  );

  /* Applica la sfumatura solo al testo */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  display: inline-block;
}

.a-end {
  text-align: end;
  color: #0066cc;
}
