<div class="container">
    <div class=" text-up" [style.align-self]="allign">
        <div>
            <h1>
                <mat-icon *ngIf="lookIconApple" class="icon-apple">apple</mat-icon>
                {{ title }}
            </h1>
            <p>{{ subtitle }} <br> {{ subtitle2 }}</p>

        </div>
        <div class="container-but">
            <a href="" mat-raised-button class="but-per">{{link}}</a>
            <a href="" *ngIf="link2" mat-raised-button class="but-white">{{link2}}</a>
        </div>
    </div>

    <div class="container-img">
        <img [src]="imgSrc" class="img-double" alt="Immagine prodotto" />
    </div>
</div>