<div class="container">
    <div class=" text-up">
        <div>
            <h1>
                <mat-icon *ngIf="mostraIconaApple" aria-hidden="false">apple</mat-icon>
                {{ titolo }}
            </h1>
            <p>{{ sottotitolo }} <br> {{ sottotitolo2 }}</p>

        </div>
        <div class="container-but">
            <a href="" mat-raised-button class="but-per">Scopri di più</a>
            <a href="" mat-raised-button class="but-white">Acquista</a>
        </div>
    </div>

    <div class="container-img">
        <img [src]="immagineSrc" class="img-double" alt="Immagine prodotto" />
    </div>
</div>