.store-container {
  padding-left: 5%;
}

.product-slider {
  display: flex;
  overflow-x: auto;
  gap: 30px;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.apple-card {
  flex-grow: 0; // 0: Non deve crescere per riempire lo spazio vuoto
  flex-shrink: 0; // 0: NON deve restringersi (obbliga il browser a creare lo scroll orizzontale)
  flex-basis: 300px; // 300px: Larghezza fissa iniziale di ogni card
  scroll-snap-align: start; // Punto dove la card si "aggancia" allo scorrimento
  background: #000000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  text-decoration: none;
  color: rgb(255, 255, 255);

  &:focus {
    border: 0px;
    color: black;
  }


  &:hover {
    transform: scale(1.02);
  }

  .image-box {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .store-container {
    display: flex;
    justify-content: center;
  }

  .info {
    margin-top: 10px;
    text-align: start;


    h3 {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .description {
      color: white;
      font-size: 0.9rem;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .price {
      font-weight: bold;
      font-size: 1.1rem;
      margin-bottom: 5px;
      margin-top: 5px;
      color: red;
    }

    .btn-detail {
      background: #0071e3;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 20px;
      cursor: pointer;
      font-weight: 500;

      &:hover {
        background: #0077ed;
      }
    }
  }
}


p {
  font-size: 28px;
  color: #666;
  font-weight: bold;
}

.gradient-text {
  font-weight: 700;
  margin-right: 5px;
  color: black;
}

@media (min-width: 768px) {
  .product-slider {
    display: flex;
    overflow-x: auto;
    gap: 30px;
    padding: 40px 20px;
    scroll-behavior: smooth;
    overflow-y: auto;
  }
}