// Variabili
$nav-height: 48px;
$apple-gray: #353535;
$apple-bg: rgba(255, 255, 255, 0.8);

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

// Stili base per mobile 
.mobile-menu-btn,
.mobile-logo,
.mobile-icons {
  display: none;
}

// Logo e Icone Desktop
.logo-item,
.icons-item {
  display: block;
  margin-top: 5px;
}

// Navbar  
.apple-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: $nav-height;
  background-color: $apple-bg;
  backdrop-filter: blur(20px);
  z-index: 100;
  display: flex;
  align-items: center;
  transition: background 0.3s;

  .nav-list {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
  }

  .nav-item {
    display: flex;
    align-items: center;
  }

  .nav-link {
    color: #424245;
    text-decoration: none;
    font-size: 12px;
    transition: opacity 0.2s;
    cursor: pointer;
    gap: 10px;

    &:hover {
      opacity: 0.7;
    }
  }

  button {
    border: none;
    background: transparent;
    cursor: pointer;
  }
}



// Mega Menu (Desktop)
.mega-menu {
  width: 100%;
  background-color: rgba(255, 255, 255);
  position: fixed;
  top: $nav-height;
  z-index: 2;
  display: block;

  .container {
    padding: 25px;
    display: flex;


    .mar-content {
      padding-left: 50px;
      padding-top: 30px;
    }
  }

  .a-pri {
    text-decoration: none;
    font-size: 24px;
    color: #333336;
    font-weight: bold;
    display: block;
  }

  .a-sec {
    font-size: 12px;
    color: #333336;
    text-decoration: none;
  }

  p {
    margin: 5px 0;
    color: grey;
    font-size: 14px;
  }
}

// Ricerca
.search-expansion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.3s ease-out;

  .search-content {
    display: flex;
    width: 80%;
    max-width: 600px;
    align-items: center;

    input {
      border: none;
      font-size: 1.2rem;
      width: 100%;
      margin: 0 15px;
      outline: none;
    }
  }
}

// Transform
@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}



// Media Query Mobile

@media (max-width: 767px) {

  .mobile-menu-btn {
    display: block;
    cursor: pointer;
    z-index: 101;
    color: $apple-gray;
    margin-top: 5px;
  }

  .mobile-logo {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: $apple-gray;
    z-index: 2;
    margin-top: 5px;

    mat-icon {
      font-size: 25px;
      width: 20px;
      height: 20px;
    }
  }

  .mobile-icons {
    display: flex;
    gap: 10px;
    z-index: 2;

    a {
      color: $apple-gray;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;

    }

    mat-icon {
      font-size: 22px;
      width: 20px;
      height: 20px;
      gap: 10px;
    }
  }

  .apple-nav {
    justify-content: space-between;
    padding: 0 15px !important;
  }

  .nav-list {
    position: fixed;
    top: $nav-height;
    left: 0;
    width: 100%;
    height: 0;
    background: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    overflow-y: auto;

    transition: height 0.3s ease-in-out, padding 0.3s;
    padding: 0;

    //Gestisce apertura nav da mobile
    &.mobile-open {
      height: calc(100vh - #{$nav-height});
      padding: 20px 40px;
    }

    .logo-item,
    .icons-item {
      display: none;
    }

    .nav-item {
      width: 100%;
      border-bottom: 1px solid #f5f5f7;

      .nav-link {
        display: block;
        padding: 15px 0;
        font-size: 24px;
        font-weight: 600;
        color: $apple-gray;
      }
    }
  }
}



@media (min-width: 767px) {
  .mobile-menu-btn {
    display: none;
  }
}


@media (min-width: 1200px) {
  .nav-list {
    max-width: 1000px;
  }
}


@media (min-width: 2500px) {

  .a-pri {

    font-size: 30px;

  }

  .a-sec {
    font-size: 18px;

  }

  p {

    font-size: 16px;
  }
}