li {
  list-style: none;
}

ul {
  padding: 0;
}

.apple-nav {
  justify-content: space-around;
  position: fixed;
  padding: 5px !important;

  .nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  button {
    border: 0px !important;
    background-color: transparent;
  }

  .nav-link {
    color: rgb(74, 74, 74);
    text-decoration: none;
    font-size: 12px;
  }
}

.mega-menu {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #f5f5f5;

  .container {
    padding: 50px;
    display: flex;

    .mar-content {
      padding-left: 50px;
    }
  }

  p {
    margin: 0;
    color: grey;
    font-size: 14px;
  }

  .a-pri {
    text-decoration: none;
    font-size: 24px;
    color: #333336;
    font-weight: bold;
  }

  .a-sec {
    font-size: 12px;
    color: #333336;
    text-decoration: none;
  }

  .li-sec {
    padding-top: 20px;
  }
}



@media (min-width: 1200px) {
  .nav-list {
    max-width: 1000px;
    margin: 0 auto;
  }
}