ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu-btn,
.mobile-logo,
.mobile-icons {
  display: none;
}

.logo-item,
.icons-item {
  display: block;
  margin-top: 5px;
}

.apple-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 100;
  display: flex;
  align-items: center;
  transition: background 0.3s;
}
.apple-nav .nav-list {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}
.apple-nav .nav-item {
  display: flex;
  align-items: center;
}
.apple-nav .nav-link {
  color: #424245;
  text-decoration: none;
  font-size: 12px;
  transition: opacity 0.2s;
  cursor: pointer;
  gap: 10px;
}
.apple-nav .nav-link:hover {
  opacity: 0.7;
}
.apple-nav button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.mega-menu {
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 48px;
  z-index: 2;
  display: block;
}
.mega-menu .container {
  padding: 25px;
  display: flex;
}
.mega-menu .container .mar-content {
  padding-left: 50px;
  padding-top: 30px;
}
.mega-menu .a-pri {
  text-decoration: none;
  font-size: 24px;
  color: #333336;
  font-weight: bold;
  display: block;
}
.mega-menu .a-sec {
  font-size: 12px;
  color: #333336;
  text-decoration: none;
}
.mega-menu p {
  margin: 5px 0;
  color: grey;
  font-size: 14px;
}

.search-expansion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.3s ease-out;
}
.search-expansion .search-content {
  display: flex;
  width: 80%;
  max-width: 600px;
  align-items: center;
}
.search-expansion .search-content input {
  border: none;
  font-size: 1.2rem;
  width: 100%;
  margin: 0 15px;
  outline: none;
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .mobile-menu-btn {
    display: block;
    cursor: pointer;
    z-index: 101;
    color: #353535;
    margin-top: 5px;
  }
  .mobile-logo {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #353535;
    z-index: 2;
    margin-top: 5px;
  }
  .mobile-logo mat-icon {
    font-size: 25px;
    width: 20px;
    height: 20px;
  }
  .mobile-icons {
    display: flex;
    gap: 10px;
    z-index: 2;
  }
  .mobile-icons a {
    color: #353535;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }
  .mobile-icons mat-icon {
    font-size: 22px;
    width: 20px;
    height: 20px;
    gap: 10px;
  }
  .apple-nav {
    justify-content: space-between;
    padding: 0 15px !important;
  }
  .nav-list {
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    height: 0;
    background: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    transition: height 0.3s ease-in-out, padding 0.3s;
    padding: 0;
  }
  .nav-list.mobile-open {
    height: calc(100vh - 48px);
    padding: 20px 40px;
  }
  .nav-list .logo-item,
  .nav-list .icons-item {
    display: none;
  }
  .nav-list .nav-item {
    width: 100%;
    border-bottom: 1px solid #f5f5f7;
  }
  .nav-list .nav-item .nav-link {
    display: block;
    padding: 15px 0;
    font-size: 24px;
    font-weight: 600;
    color: #353535;
  }
}
@media (min-width: 767px) {
  .mobile-menu-btn {
    display: none;
  }
}
@media (min-width: 1200px) {
  .nav-list {
    max-width: 1000px;
  }
}
@media (min-width: 2500px) {
  .a-pri {
    font-size: 30px;
  }
  .a-sec {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
}/*# sourceMappingURL=navbar.component.css.map */