li {
  list-style: none;
  padding-top: 0px;

  mat-icon {
    padding-top: 5px;
  }
}

ul {
  padding: 0;
}

.apple-nav {
  justify-content: space-around;
  position: fixed;
  z-index: 10;
  padding: 5px !important;
  background-color: rgba(255, 255, 255, 0.761);

  .nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  button {
    border: 0px !important;
    background-color: transparent;
  }

  .nav-link {
    color: rgb(74, 74, 74);
    text-decoration: none;
    font-size: 12px;
  }
}

.mega-menu {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #f5f5f5;
  position: fixed;
  z-index: 2;

  .container {
    padding: 50px;
    display: flex;

    .mar-content {
      padding-left: 50px;
      padding-top: 30px;
    }
  }

  p {
    margin: 0;
    color: grey;
    font-size: 14px;
  }

  .a-pri {
    text-decoration: none;
    font-size: 24px;
    color: #333336;
    font-weight: bold;
  }

  .a-sec {
    font-size: 12px;
    color: #333336;
    text-decoration: none;
  }

  .li-sec {
    padding-top: 20px;
  }
}

.search-expansion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.3s ease-out;
  padding-top: 40px;

  .search-content {
    display: flex;
    width: 80%;
    max-width: 600px;
    align-items: center;
    color: black;

    input {
      background: transparent;
      border: none;
      color: black;
      font-size: 1.2rem;
      width: 100%;
      margin: 0 15px;
      outline: none;
    }

    .nav-link,
    mat-icon,
    .close-icon {
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .nav-list {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media (min-width: 1400px) {
  .nav-list {
    max-width: 1200px;
    margin: 0 auto;
  }
}
