li {
  list-style: none;
}
ul {
  padding: 0;
}
.apple-nav {
  justify-content: space-around;

  .nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  button {
    border: 0px !important;
    background-color: transparent;
  }
}

.mega-menu {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #f5f5f5;

  .container {
    padding: 50px;
    display: flex;

    .mar-content {
      padding-left: 50px;
    }
  }

  p {
    margin: 0;
    color: grey;
    font-size: 14px;
  }

  .a-pri {
    text-decoration: none;
    font-size: 24px;
    color: #333336;
    font-weight: bold;
  }
  .a-sec {
    font-size: 12px;
    color: #333336;
    text-decoration: none;
  }
  .li-sec {
    padding-top: 20px;
  }
}
