.product-slider {
    padding-top: 50px;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.star {
    vertical-align: middle;
    margin-bottom: 5px;
    color: gold;

    p {
        vertical-align: middle;
    }

}


.title {
    padding-left: 10px;
    font-size: 20px;
}

.valutation {
    padding-left: 10px;
}


.description {
    color: #000000;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 10px;
}

.price {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: red;
    padding-left: 10px;
}