// Base

h1 {
  font-size: 32px;
  font-weight: 600;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding-top: 30px;
}

h4 {
  font-size: 19px;
  font-weight: 400;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 20px 0;
}

.but-per {
  border-radius: 99px;
  padding: 10px;
  background-color: #0071e3;
  color: white;
  border: none;
  font-size: 17px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  &:hover {
    background-color: #0077ED;
    color: white;
  }
}

.but-white {
  @extend .but-per;
  background-color: transparent;
  color: #0071e3;
  border: 1px solid #0071e3;

  &:hover {
    background-color: #0071e3;
    color: white;
  }
}


//Sezione video

.video-section {
  width: 100%;
  height: 80vh;
  background-color: #f2f2f4;
  overflow: hidden;
  position: relative;

  .video-wrapper {
    width: 100%;
    position: relative;
    flex-grow: 1;

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//Sezioni prodotti
.product-section {
  width: 100%;
  background-color: #f5f5f5;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  height: 100vh;

  // Immagini

  .container-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .product-img-desk {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
  }

  .product-img,
  .product-img-thi {
    width: 100%;
    height: auto;
    max-height: 50vh;
    object-fit: cover;
  }
}




//Media Queries 

@media (min-width: 768px) {

  .product-section .product-img {

    max-height: 100%;
    object-fit: contain;

  }

  .product-section .product-img-thi {
    max-height: 70%;
    object-fit: contain;

  }

}

@media (min-width: 1024px) {

  h1 {
    font-size: 56px;
    padding-top: 50px;
  }

  h4 {
    font-size: 26px;
  }

  .video-section {
    height: 90vh;
  }

  .product-section {
    height: 65vh;
  }

  .product-section .product-img-thi {
    max-height: 90%;
    object-fit: contain;

  }

}

@media (min-width: 2500px) {


  h1 {
    font-size: 40px;

  }

  h4 {
    font-size: 25px;
    font-weight: 400;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 0 20px 0;
  }

  .but-per {
    border-radius: 99px;
    padding: 20px;
    background-color: #0071e3;
    color: white;
    border: none;
    font-size: 17px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &:hover {
      background-color: #0077ED;
      color: white;
    }
  }

  .but-white {
    @extend .but-per;
    background-color: transparent;
    color: #0071e3;
    border: 1px solid #0071e3;

    &:hover {
      background-color: #0071e3;
      color: white;
    }
  }





  .product-img-thi {
    max-height: 70%;
  }
}