.but-ori {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px 0px 20px 0px;
}

.pad-top-title {
  padding-top: 10px;
}

.container,
.container-video {
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  margin-bottom: 10px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 20px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
      "Arial", sans-serif;
    margin: 0;
    padding-top: 20px;
  }

  h4 {
    font-size: 17px;
    font-weight: 400;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
      "Arial", sans-serif;
    margin: 0;
  }
}

.container-but {
  padding: 10px 0px 20px 0px;
}

.but-per {
  border-radius: 20px;
  padding: 10px;
  background-color: #0071e3;
  color: white;
  border: none;
  font-size: 17px;
  display: inline-block;
}

.but-white {
  border-radius: 20px;
  padding: 10px;
  background-color: transparent;
  color: #0071e3;
  border: 1px solid #0071e3;
  font-size: 17px;
  align-self: center;

  &:hover {
    background-color: #0071e3;
    color: white;
  }
}

.img-first {
  width: 100%;
  height: auto;
}

.img-first-desk {
  width: 100%;
  height: 50vh;
  object-fit: contain;
  display: none;
}

.img-first-mobile {
  width: 100%;
}

@media (min-width: 768px) {
  .pad-top-title {
    padding-top: 30px;
  }

  .img-first {
    width: 70%;
    height: auto;
  }

  .img-first-mobile {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .pad-top-title {
    padding-top: 20px;
  }

  .img-first {
    width: 60%;
  }

  .img-first-desk {
    display: block;
    width: 100%;
    height: 20vh;
    object-fit: contain;
  }

  .img-first-mobile {
    display: none;
  }

  .container,
  .container-video {
    h1 {
      font-size: 56px;
      font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue",
        "Helvetica", "Arial", sans-serif;
      margin: 0;
      padding-top: 30px;
    }

    h4 {
      font-size: 26px;
      font-weight: 400;
      font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue",
        "Helvetica", "Arial", sans-serif;
      margin: 0;
    }
  }
}

@media (min-width: 1440px) {
  .container-video {
    height: 80vh;
  }

  .container {
    height: 50vh;
  }

  .img-first-desk {
    width: 100%;
  }

  .img-first {
    width: 70%;
    height: auto;
  }
}

@media (min-width: 2560px) {
  .container-video {
    height: 70vh;
  }

  .container {
    height: 60vh;
  }

  .img-first-desk {
    width: 100%;
  }

  .img-first {
    width: 30%;
    height: auto;
  }
}
