@import "../../../src/styles/mixin";

.cont-video {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  background-color: #f2f2f4;
}

.video {
  width: 100vh;
  height: 100%;
  object-fit: cover;
}
