//Funzioni e variabili base 
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

//Solo il sistema di griglie e i contenitori
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";

//Solo le utility (opzionale ma consigliato per margini, padding e flex)
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  background-color: white;
}

.container-double {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

@media (min-width: 768px) {
  .container-double {
    flex-direction: row;
  }
}