<section class="apple-footer-notes">
    <div class="notes-container">
        <div class="product-list">
            <p>iPad Air 11" (M3) (Wi-Fi)</p>
            <p>iPad (A16) (Wi-Fi)</p>
        </div>

        <hr class="notes-divider">

        <ul class="numbered-notes">
            <li>
                {{litext}}
            </li>
            <li>
                {{litext2}}
            </li>
        </ul>

        <div class="general-notes">
            <p>L’app Parametri Vitali è destinata esclusivamente al benessere generale e non va usata a scopo
                diagnostico.</p>
            <p>Apple TV richiede un abbonamento.</p>
            <p>Le funzioni descritte possono subire modifiche. Alcune funzioni e applicazioni e alcuni servizi
                potrebbero non essere disponibili in tutte le aree geografiche o in tutte le lingue.</p>
        </div>
        <hr class="notes-divider">
    </div>


</section>