.apple-footer-notes {
    background-color: #f5f5f7;
    padding-top: 20px;
    padding-bottom: 0px;
    color: #6e6e73;
    font-size: 12px;
    line-height: 1.6;
    display: flex;
    justify-content: center;

    h4 {
        color: black;
    }

    a {
        text-decoration: none;
        color: #6e6e73;

    }

    li {
        list-style: none;
    }

    .notes-container {
        max-width: 1024px;
        padding: 0 22px;

    }

    .product-list {
        margin-bottom: 15px;
        font-weight: 500;
        display: flex;
        gap: 20px;

        p {
            margin: 0;
        }
    }

    .notes-divider {
        border: 0;
        border-top: 1px solid #d2d2d7;
        margin: 15px 0;
    }

    .numbered-notes {
        padding-left: 0px;
        margin-bottom: 20px;

        li {
            margin-bottom: 10px;
        }
    }

    .general-notes {
        p {
            margin-bottom: 10px;
        }
    }
}