<div class="product-section d-flex flex-column justify-content-between align-items-center text-center">

  <div class="w-100">
    <h1>iPhone</h1>
    <h4>Vieni a conoscere la nuova generazione di iPhone.</h4>

    <div class="d-flex justify-content-center gap-3 mt-3">
      <a href="" class="but-per">Scopri di più</a>
      <a href="" class="but-white">Acquista iPhone</a>
    </div>
  </div>

  <div class="container-img w-100 d-flex justify-content-center overflow-hidden">
    <img src="../../assets/img-apple/sec-img.jpg" class="product-img-desk d-none d-lg-block" alt="iPhone" />

    <img src="../../assets/img-apple/2-mobile.jpg" class="product-img d-lg-none" alt="iPhone" />
  </div>

</div>