<div class="container">
  <div>
    <h1>iPhone</h1>
    <h4>Vieni a conoscere la nuova generazione di iPhone.</h4>
  </div>

  <div class="but-ori">
    <a href="" mat-raised-button class="but-per">Scopri di più</a>
    <a href="" mat-raised-button class="but-white">Acquista iPhone</a>
  </div>
  <div>
    <img src="../../assets/img-apple/sec-img.jpg" class="img-first-desk" alt="iphone" />
    <img src="../../assets/img-apple/2-mobile.jpg" class="img-first-mobile" alt="iphone" />

  </div>
</div>